<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="TopGym Template">
    <meta name="keywords" content="TopGym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us | SHREDFULL</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700,900" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-menu">
                        <div class="logo">
                            <a href="{%url 'home'%}">
                                <img src="{%static 'img/newlogo.png' %}" alt="">
                            </a>
                        </div>
                        <nav class="mobile-menu">
                            <ul>
                                <li><a href="{% url 'home'%}">Home</a></li>
                                <li><a href="{% url 'store'%}">Store</a></li>
                                <li><a href="{% url 'trainers'%}">Personal</br>Trainers</a></li>
                                <li><a href="{% url 'gym'%}">Gym Centers</a></li>
                                <li><a href="{% url 'blog'%}">News</a></li>
                                <li><a href="#">About us</a></li>
                              
                            </ul>
                        </nav>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Search Bar Begin -->
    <section class="search-bar-wrap">
        <span class="search-close"><i class="fa fa-close"></i></span>
        <div class="search-bar-table">
            <div class="search-bar-tablecell">
                <div class="search-bar-inner">
                    <h2>Search</h2>
                    <form action="#">
                        <input type="search" placeholder="Type Keywords">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Search Bar End -->
    <!-- Top Social Begin -->

    <!-- Top Social End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-area set-bg" data-setbg="{%static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-content">
                        <h2>About us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- About Us Begin -->
    <section class="about-us-area spad-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Who We Are</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="about-text">
                        <p class="t-text">SHREDFULL is a fitness consulting company based in Lagos. Our Primary aim and goal is to bring fitness centers, agents and personal trainers 
                            to our users. We are currently doing a test run in the University of Lagos. 
                        </p>
                        <div class="about-features">
                            <div class="about-features-item">
                                <div class="about-feature-img">
                                    <img src="{%static 'img/check.png' %}" alt="">
                                </div>
                                <div class="about-feature-text">
                                    <h4>We have the best Fitness Trainers & Gym Centers</h4>
                                    <p>All the Hercules and Macho Men in UNILAG who are Personal Trainers are now available for you to choose from </p>
                                </div>
                            </div>
                            <div class="about-features-item">
                                <div class="about-feature-img">
                                    <img src="{%static 'img/check.png' %}" alt="">
                                </div>
                                <div class="about-feature-text">
                                    <h4>We sell High Grade Fitness Equipments</h4>
                                    <p>We are introducing our very own store 'The Pit' where you can get your quality gym equipments at student friendly prices </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
    <!-- Skills Section Begin -->
    <section class="skill-section set-bg" data-setbg="{%static 'img/about-bg-2.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>CONTACT US?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="skill-text">
                        <p>Send and email to <a href= mailto:ernestjames.ao@gmail.com>ernestjames.ao@gmail.com</a> with subject "SHREDFULL : ...your subject"</p>
                        <a href="mailto:abahernesto@gmail.com" class="btn btn-primary my-2">Email Me</a>
                    </div>
                </div>
                
        </div>
    </section>
    <!-- Skills Section End -->
    <!-- Testimonial Section Begin -->
 
    <!-- Testimonial Section End -->
    <!-- Call To Action Section Begin -->
    <section class="about-callto-section set-bg" data-setbg="{%static 'img/callto-bg.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-callto-text">
                        <div class="cl-left">
                            <h2>Start Bulking with Us Today!</h2>
                            <p>Pick from several Gym centers and Private Trainers close to you and start building your desired body</p>
                        </div>
                        <div class="cl-right">
                            <a href="{% url 'trainers'%}" class="primary-btn">Join</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="{%static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="footer-logo">
                            <a href="{% url 'home'%}"><img src="{%static 'img/newlogo.png' %}" alt=""></a>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="{% url 'home'%}">Home</a></li>
                                <li><a href="{% url 'store'%}">Store</a></li>
                                <li><a href="{% url 'trainers'%}">Personal Trainers</a></li>
                                <li><a href="{% url 'gym'%}">Gym Centers</a></li>
                                <li><a href="{% url 'blog'%}">News</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="your Email">
                                <button type="submit">Sign Up</button>
                            </form>
                        </div>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <div class="footer-icon-img">
                            <img src="{%static 'img/footer-icon.png' %}" alt="">
                        </div>
                        <div class="copyright">
                           <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{%static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/jquery.slicknav.js' %}"></script>
    <script src="{%static 'js/owl.carousel.min.js' %}"></script>
    <script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{%static 'js/circle-progress.min.js' %}"></script>
    <script src="{%static 'js/jquery.barfiller.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>
</body>

</html>