<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="TopGym Template">
    <meta name="keywords" content="TopGym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Pit | Fitness Site</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=arial:100,300,300i,400,500,700,900" rel="stylesheet">

 
     <!--BOOTSTRAP CSS styles -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Css Styles -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/barfiller.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">


   
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-menu">
                        <div class="logo">
                            <a href="#">
                                <img src="{%static 'img/logo.png' %}" alt="">
                            </a>
                        </div>
                        <nav class="mobile-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="{% url 'store'%}">Store</a></li>
                                <li><a href="#">Personal</br>Trainers</a></li>
                                <li><a href="#">Gym Centers</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="{%url 'about'%}">About us</a></li>
                                
                            </ul>
                        </nav>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Search Bar Begin -->
    <section class="search-bar-wrap">
        <span class="search-close"><i class="fa fa-close"></i></span>
        <div class="search-bar-table">
            <div class="search-bar-tablecell">
                <div class="search-bar-inner">
                    <h2>Search</h2>
                    <form action="#">
                        <input type="search" placeholder="Type Keywords">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Search Bar End -->
    <!-- Top Social Begin -->

    <!-- Top Social End -->
    <!-- Hero Slider Section Begin -->
    <section class="hero-slider">
        <div class="slide-items owl-carousel">
            {%for bg in background.all %}
            <div class="single-slide set-bg active" data-setbg="{{bg.image.url}}">
                
                <h1>{{bg.text}}</h1>
            </div>
            {%endfor%}                
        </div>          
    </section>
   
    
    <!-- Hero Slider End -->
    <!-- Features Section Begin -->
    <section class="features-section spad">
        <div class="container">

            <div class="card-deck">

                
                    <div class="card text-white bg-dark mb-3" style="max-width: 22rem;">
                        <div class="card-body">
                          <h5 class="card-title">VISIT OUR STORE</h5>
                          <p class="card-text">Looking for online stores to purchase gym equipment and have them delivered to you? We've got you covered. Get only the best gym equipment at The Pit Stores at affordable prices.</p>
                          <a href="#" class="btn btn-primary">VISIT STORE</a>
                        </div>
                    </div>
              
                
            
                    <div class="card text-white bg-dark mb-3" style="max-width: 22rem;">
                        <div class="card-body">
                          <h5 class="card-title">FITNESS UPDATES</h5>
                          <p class="card-text">Home workouts and other tips to help you deal with changes to your lifestyle are available in our app and blog</p>
                          <a href="#" class="btn btn-primary">VISIT BLOG</a>
                        </div>
                    </div>
                
                
              
                    <div class="card text-white bg-dark mb-3" style="max-width: 22rem;">
                        <div class="card-body">
                          <h5 class="card-title">FIND A PERSONAL TRAINER</h5>
                          <p class="card-text">Leave the hassle to us. We give you the best private trainers, gathered from all over the country on one platform giving you the opportunity to choose at your convenience.</p>
                          <a href="#" class="btn btn-primary">FIND TRAINERS</a>
                        </div>
                    </div>
            
            </div>
        </div>
    </section>
    <!-- Features Section End -->
    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>What Clients Say</span>
                        <h2>Testimonials</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="testimonial-content">
                        <div class="testimonial-pic set-bg" data-setbg="{%static 'img/testimonial/testimonial-1.png' %}"></div>
                        <div class="testimonial-text">
                            <h4>Ernest Abah, <span>Client</span></h4>
                            <p>Arcu a tellus pellentesque ultrices. Ut euismod luctus elit id eleifend. Donec semper
                                massa a imperdiet mattis. In vel mattis neque, nec ultricies lectus. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-content">
                        <div class="testimonial-pic set-bg" data-setbg="{%static 'img/testimonial/testimonial-2.png' %}"></div>
                        <div class="testimonial-text">
                            <h4>Hagai Ojo, <span>Client</span></h4>
                            <p>Arcu a tellus pellentesque ultrices. Ut euismod luctus elit id eleifend. Donec semper
                                massa a imperdiet mattis. In vel mattis neque, nec ultricies lectus. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Services Section End -->
    <!-- Trainer Section Begin -->
    <section class="trainer-section set-bg">
        <div class="container">
            <div class="blog-text">
                <span>What we are offering.</span>
                <h2>Zero Hassle</h2>
                <p>For the first time in forever, All the Fitness agencies,products and trainers in UNILAG now one platform to enable you focus on what matters.   Attaining your desired shape.</p>
                <a href="{% url 'about'%}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </section>
    <!-- Traniner Section End -->
    <!-- Upcoming Event Begin -->

    <!-- Upcoming Event End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="{%static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="footer-logo">
                            <a href="#"><img src="{%static 'img/logo.png' %}" alt=""></a>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="{% url 'store'%}">Store</a></li>
                                <li><a href="#">Personal Trainers</a></li>
                                <li><a href="#">Gym Centers</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="{%url 'about'%}">About us</a></li>
                                
                            </ul>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="your Email">
                                <button type="submit">Sign Up</button>
                            </form>
                        </div>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <div class="footer-icon-img">
                            <img src="{%static 'img/footer-icon.png' %}" alt="">
                        </div>
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
 <!--Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{%static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/jquery.slicknav.js' %}"></script>
    <script src="{%static 'js/owl.carousel.min.js' %}"></script>
    <script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{%static 'js/circle-progress.min.js' %}"></script>
    <script src="{%static 'js/jquery.barfiller.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>

    <!--BOOTSTRAP Js Plugins -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
